{% extends "base.html" %}
{% block title %}District 410E Zoom Booking System{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<h1>District 410E Zoom Bookings as at {{ now }}</h1>
<ul>
  {% for date, times in meetings.items() %}
  <li>{{ date }}</li>
  <ul>
    {% for time in times %}
    <li>{{ time }}</li>
    {% endfor %}    
  </ul>
  {% endfor %}
</ul>
<p>All other times and dates are available to book. 
<p><a href="/book/start">Click here</a> to book a Zoom meeting slot.
{% endblock %}
