{% from 'bootstrap5/form.html' import render_form %}
{% extends "base.html" %}
{% block head %}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<p>{{ description }}
{% if error %}<p><em class="color: red">{{ error }}</em>{% endif %}
{{ render_form(form, action=action, form_type='horizontal') }}
<a href="{{ back }}">Go back to the previous page</a>
{% endblock %}
