{% extends "base.html" %}
{% block title %}Zoom meeting booked{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<h1>Zoom meeting booking</h1>
<p>Your zoom meeting has been booked:
<br>The meeting link is: <a href="{{ meeting.zoom_meeting.join_url }}">{{ meeting.zoom_meeting.join_url }}<</a>
<br>The passcode is: {{ meeting.zoom_meeting.passcode }} 

<p>These meeting details will be emailed to you.

<p>The meeting is set so that anyone can join it, so you probably don't need the District Zoom account to join the meeting itself. If you do need the District Zoom account credentials they are:
<br>Username: {{ zoom_username }}
<br>Password: {{ zoom_password }}

<p>To use these details in your Zoom application, click on the top right where you see your initials and select "Switch Account". If you use the above login details you will be in as the District Zoom account, with unlimited meeting capacity.

<p>Please switch back to your own account when you are done to ensure Zoom doesn't give any issues when the District account is next needed.

<p><a href="/">Click here</a> to book another meeting.</a>
{% endblock %}
